{% extends "base.html" %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap
        example. It's built with default Bootstrap components and utilities with little customization.</p>
</div>
<div class="container">
    <div class="d-flex flex-column">
        <h3>Registered Users :</h3>
        {% for account in accounts %}
        <p>{{account.email}}</p>
        <p>{{account.date_joined}}</p>
        {% endfor %}
        
    </div>
</div>

{% endblock content %}