{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
<form class="form-signin" method="POST">
    {% csrf_token %}
<div class="d-flex flex-column pb-3">
    <img class="img-fluid mx-auto" src="{% static '332432_1_org_258071_1_org_image_6ce585b4e6fa432c.jpg' %}" alt="Shubham Logo" width="72" height="72">
</div>
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Log In</h1>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    {% for field in login_form %}
    {% for error in  field.errors%}
    <p style="color: red;">{{error}}</p>
    {% endfor %}
    {% endfor %}

    {% if login_form.non_field_errors %}
    <div style="color: red;">
        <p>
            {{login_form.non_field_errors}}
        </p>
    </div>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
</form>
<div class="d-flex flex-column">
    <a class="m-auto" href="{% url 'password_reset' %}">Reset Password</a>
</div>
  

{% endblock content %}